html, #root {
  height: 100%;
}

body {
    height: 100%;

    * {
        padding: 0.2rem;
        }
}

header {
    height: 100%;

    a {
        display: flex;


        img {
            align-self: center;
        }
    }
}

.nav_container {
    height: 100%;

    ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        white-space: nowrap;

        li {
            padding: 0rem 0.5rem;

            a {
                text-decoration: none;
            }
        }
    }
}

.main_container {
    background-color: blue;
}

.table-footer {
    height: 100%;
  }